<a href="https://colab.research.google.com/github/YoussefGharbi-oss/E-gaming/blob/main/session_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")
print('hello')
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello

In [ ]:
# DATA Types : #######################
# premitive data :
# 5 , 6 , 7 , 8 , 9 , 10 , -1 , -2 ,-4  etc  => int
# 3.14 , 5.2 , 7.2 ,19.2 => float
# "bonjour" , "hello" , "book" , 'book' , "52127" => str
# True , False => bool
# Complex data types
# liste = ["bonjour" , 5 , "book"] , tuple = ("450" , "username" , "password") , dictionnaire , set
# file :
type(True)

bool

In [ ]:
x = 5
y = 5
name = "Youssef"
age = 16
grade =16

16

In [ ]:
# Output :  pint(function)
x = 5
print("hello world")
print("x : " , x)
print("x : "  ,   x)
print(f"x est {x}")

hello world
x :  5
x :  5
x est 5

In [ ]:
# input ()
name = input("Tapez votre Nom")
print(f" My name is {name}")

Tapez votre Nomahmed
 My name is cristiano

In [ ]:
#opérateurs :
# les opérateurs arithmétiques :
x = 10
y = 2
addition = x + y
print(f"{x} + {y} = {addition}")
soustraction = x - y
print(f"{x} - {y} = {soustraction}")
multiplication = x * y
print(f"{x} * {y} = {multiplication}")
division = x / y  # float
print(f"{x} / {y} = {division}")
div = x//y  # int
print(f"{x} // {y} = {div}")
reste = x%y
print(f"{x} % {y} = {reste}")
puissance = x**y
print(f"{x} ** {y} = {puissance}")

10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0
10 // 2 = 5
10 % 2 = 0
10 ** 2 = 100

In [ ]:
# les opérateurs de comparaison :
x = 10
y = 2
# supérieur ou égale  :
print(x>=y)
#supérieur strictement
print(x>y)
# inférieur ou égale  :
print(x<=y)
#inférieur strictement
print(x<y)
# égale
print(x==y)
# diff
print(x!=y)

True
True
False
False
False
True

In [ ]:
# des opérateurs logique
x = 10
y = 2
print(True and False)
print(False and True)
print(False and False)
print(True and True)

False
False
False
True

In [ ]:
x = 10
y = 2
print(True or False)
print(False or True)
print(False or False)
print(True or True)

True
True
False
True

In [ ]:
# not
print(not True)
print(not False)

False
True